.text-anketa {
  width: 1094px;
  padding-bottom: 100px;
}


.color-service {
  color: black !important;
  background-color: #F8FBFF !important;
  font-weight: 500;
  font-family: 'Gilroy-Light', sans-serif;
  margin-bottom: 16px;
}

.box {
  border: 1px solid black;
}

.color-step {
  padding-left: 2px;
  color: #393939;
}

.block_anketa {
  border: 1px solid #B9D7FF;
  width: 275px;
  height: 337px;
  text-align: center;
  margin-right: 16px;
}

.n-r {
  margin-right: 0px !important;
}

#image_anketa {
  padding-top: 121px;
}


.bar {
  margin-top: 66px;
  width: 275px;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(17, 23, 20, 0.1);;
}

.for-center{
  margin-left: 34.88%;
}

.back-button {
  margin-top: 57px;
  margin-right: 23.6px;
  height: 22px;
}

.n-p {
  padding-bottom: 200px;
}

.m-39 {
  margin-left: 40.35%;
}

.color {
  background-color: #1A9D63;
}

.w-55 {
  width: 55px;
  height: 4px;
}

.error {
  border-style: solid;
  border-color: #c00;
  border-width: 1px;
}


.input-big-share{
  border: 1px solid #B9D7FF;
  height: 48px;
  padding: 1 1 auto;
  width: 100%;
}

.wdd {
  flex: auto;
  width: 275px;
  margin-right: 15px;
}

.w-1340{
  width: 1340px;
}

input::placeholder {
  color: #BABABA;
}

.submit {
font-family: 'Montserrat';
font-style: normal;
font-size: 16px;
line-height: 150%;
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
width: 256px;
height: 48px;
margin-left: 16px;

background: #1A9D63;
border: 1px solid #1A9D63;
margin-top: 16px;
}

.submit:hover {
  cursor: pointer;
  background-color: #0360B2;
  border: 1px solid #0360B2;
  box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.25);
}

.back {
  color: #1A9D63;
  display: flex;
  margin-top: 28px;
}

.back-button-form{
  margin-top: 31px;
  color: #1A9D63;
}

.back-button-click:hover {
  color: #0360B2;
  cursor: pointer;
}

.back-button-form:hover{
  color: #0360B2;
  cursor: pointer;
}

.back-button-click {
  margin-top: 57px;
  height: 20px;
  color: #1A9D63;
  padding-right: 25px;
}

.back-button-form:hover .left{
    border: solid #0360B2;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    border-radius: 1.5px;
}

.back-button-click:hover .left {
  border: solid #0360B2;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    border-radius: 1.5px;
}

.left {
  margin-top: 4px;
  transform: rotate(135deg) !important;
  -webkit-transform: rotate(135deg) !important;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}




input[type="tel"] {
  padding-left: 16px;
  font-family: 'Montserrat';
  font-weight: 400;
}

input[type="text"] {
  padding-left: 16px;
  font-family: 'Montserrat';
  font-weight: 400;
}

.title {
  font-family: 'Gilroy-Light', sans-serif;
  font-size: 20px;
  color: #111714;
  font-weight: 500;
  width: 100%;
  bottom: 117px;
  left: 50%;
  padding-top: 36px;
}