.middle_block {
    height: 274px;
    background-color: #F8FBFF;
    margin-top: 100px;
}

.block__logo {
    padding-top: 52px;
    padding-left: 59px;
}

.block__title {
    padding-left: 59px;
    padding-top: 24px;
    font-size: 24px;
    color: #111714;
}

.block__text {
    color: #393939;
}



.p-block{
    padding: 11px 59px 0 59px;
}

@media (max-width: 1430px) and (min-width: 300px){
    .middle_block {
        margin-top: 36px;
        height: 370px;
    }

    .block__logo {
        text-align: center;
        padding-top: 20px;
        padding-left: 0;
        text-align: center;
    }

    .block__title {
        padding-top: 16px;
        padding-left: 0;
        text-align: center;
    }

    .block__text {
        padding: 8px 16px 0 16px;
        text-align: center;
    }

    .main__dobule__block {
        display: block !important;
    }

    .double__middle_block{
        width: 343px !important;
    }

    .double__block_middle{
        width: 343px !important;
    }
    .double__block__text{
        width: 311px !important;
    }

    .middle__down__info__title{
        font-size: 30px !important;
        line-height: 130% !important;
    }

    .middle_down__info__text {
        width: 343px !important;
        padding-top: 16px !important;
    }
}

