
.container-right {
    position: absolute;
    right: 0;
    padding-right: 24px;
}


.client {
    margin-top: 200px;

}

.text__title {
    font-size: 56px;
    font-weight: 700;
    color: #111714;
}

.text__text {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 768px;
    color: #393939;
}

.inside {
    width: 204px;
    height: 204px;
}

.i-8 {
    height: 204px;
    width: 204px;
    
}
.i-9 {
    height: 204px;
    width: 204px;
    margin-top: 228px;
}
.i-10 {
    height: 204px;
    width: 204px;
    margin-top: 458px;
}
.i-11 {
    height: 204px;
    width: 204px;
    margin-top: 684px;
}
.i-12 {
    height: 204px;
    width: 204px;
    margin-top: 912px;
}
.icon {
    position: absolute;
    margin-left: -182px;
}

.outside{
    position: absolute;
}

.float01 {
    float: left;
}

.inside-inline {
    display: inline;
}

.inside-1 {
    margin-top: 228px;
    margin-left: -481px;
}

.inside-2 {
    margin-top: 456px;
    margin-left: -663px;
}

.inside-3 {
    margin-left: -481px;
    margin-top: 684px;
}

.inside-4 {
    margin-left: -252px;
    margin-top: 114px;
}


.inside-5 {
    margin-left: -252px;
    margin-top: 342px;
}

.inside-6 {
    margin-left: -252px;
    margin-top: 570px;
}

.inside-7 {
    margin-left: -252px;
    margin-top: 798px;
}

.inside-8 {
    margin-left: -24px;
}

.inside-9 {
    margin-left: -24px;
}

.inside-10 {
    margin-left: -24px;
}

.inside-11 {
    margin-left: -24px;
}

.inside-12 {
    margin-left: -24px;
}

.cl {
    border: 1px solid #B9D7FF;
}

.cl_add2 {
    height: 41px;
    width: 48px;
    margin: 67px auto 0 auto;
    background: url('../../public/star_add.svg');
}

.inside-2:hover .cl_add2{
    background: url('../../public/star_add_hover.svg');
}

.inside-2:hover .cl_add {
    color: #FFFFFF;
}

.inside-2:hover {
    background-color: #0360B2;
    border: 1px solid #0360B2;
    cursor: pointer;
    box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.47);
}

.cl_add {
    width: 166px;
    margin: 20px auto 0 auto;
    color: #0360B2;
    font-size: 20px;
}


.hover-client:hover img{
    background: #F8FBFF;
  box-shadow: 0px 0px 20px rgba(3, 96, 178, 0.25);
}