
.container-right {
    position: absolute;
    right: 0;
    padding-right: 24px;
}


.client {
    margin-top: 200px;

}

.text__title {
    font-size: 56px;
    font-family: 'Gilroy-Light', sans-serif;
    font-weight: 700;
    color: #111714;
}

.text__text {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: Montserrat;
    width: 768px;
    color: #393939;
}

.inside {
    width: 204px;
    height: 204px;
}

.outside{
    position: relative;
}

.float01 {
    float: left;
}

.inside-inline {
    display: inline;
}

.inside-first {
    margin-top: 228px;
    margin-right: 25px;
}

.inside-2 {
    margin-top: 24px;
}

.inside-3 {
    margin-top: 24px
}

.inside-second {
    margin-top: 114px;
    margin-right: 25px;
}

.inside-5 {
    margin-top: 24px;
}

.inside-6 {
    margin-top: 24px;
}

.inside-7 {
    margin-top: 24px;
}

.inside-9 {
    margin-top: 24px;
}

.inside-10 {
    margin-top: 24px;
}

.inside-11 {
    margin-top: 24px;
}

.inside-12 {
    margin-top: 24px;
}

.cl {
    border: 1px solid #B9D7FF;
}

.cl_add2 {
    height: 41px;
    width: 45px;
    margin-top: 67px;
    margin-left: 82px;
    background: url('../../public/star_add.svg');
}

.inside-2:hover .cl_add2{
    background: url('../../public/star_add_hover.svg');
}

.inside-2:hover .cl_add {
    color: #FFFFFF;
}

.inside-2:hover {
    background-color: #0360B2;
    border: 1px solid #0360B2;
    cursor: pointer;
}

.cl_add {
    color: #0360B2;
    padding-top: 12px;
    padding-left: 21px;
    font-size: 20px;
}


.hover-client:hover img{
    background: #F8FBFF;
  box-shadow: 0px 0px 20px rgba(3, 96, 178, 0.25);
}