
.header__info {
    font-size: 72px;
    color: white;
    font-weight: 700;
}

.gilroy{
}

.header__second_info {
    font-size: 72px;
    color: #1A9D63;
    font-weight: 700;
    padding-top: 10px;
}


.header__third_info {
    font-size: 18px;
    color: #F8F8F8;
    padding-top: 40px;
    line-height: 30px;
    font-weight: 500;
    width: 734px;
}

.header__third_info p{
line-height: 0px;
}

.head {
    padding-top: 319px;
    display: block;
    height: 100%;
}

.btn__body {
    padding-top: 59px;
}

.btn__started {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: 1px solid #858A90;
    height: 48px;
    width: 180px;
    padding: 11px 6px 11px 15px;
}

.btn__started__arrow {
    padding-top: 2px !important;
}



.icon__mouser {
    padding-top: 201px;
    color: white;
}

.text__scroll {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
}

.line__rectangle {
    padding-left: 28px;
    padding-top: 8px;
}
.fs-16{
    font-size: 16px;
    padding-left: 16px;
}

.get__started{
    padding: 3px 7px 0 8px;
}

@media (max-width: 1370px) and (min-width: 300px){
    .head {
        padding-top: 80px;
        display: block;
        height: 100%;
        text-align: start;
    }

    .header__info {
        font-size: 36px;
        line-height: 48px !important;
        letter-spacing: 0px !important;
    }

    .header__second_info {
        font-size: 36px;
        padding-top: 0px;
        line-height: 48px !important;
        letter-spacing: 0px !important;
    }

    .header__third_info {
        font-family: Montserrat-Medium !important;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        width: 100%;
        padding-top: 16px;
    }

    .btn__started {
        text-align: center;
        width: 100% !important;
    }

    .btn__body {
        padding-top: 24px;
    }

    .text__button {
        justify-content: center;
    }

    .icon__mouser {
        display: none !important;
    }

    .line__line {
        display: none !important;
    }

    .middle_info {
        width: 344px !important;
    }

    .middle_block {
        width: 343px !important;
        margin: 36px auto !important;
    }

    .double__block_middle {
        margin: 36px auto !important;
    }

    .info__title_mobile {
        width: 343px !important;
        margin: 0 auto !important;
    }

    .scrolling-wrapper {
        margin: 0 auto !important;
    }

    .middle_down__info__text {
        margin: 16px auto;
    }

    .middle__title {
        width: 344px !important;
        margin: 0 auto !important;
    }

    .scrolling-wrapper {
        width: 343px;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
    }

    .middle__down__info__buttons .last {
        margin-right: 0px;
    }

    .middle__down__info__buttons {
        padding-top: 32px !important;
    }

    .list__technologies{
        margin: 0 auto !important;
        width: 343px !important;
        padding-top: 24px !important;
    }

    .comment__navigation {
        width: 112px !important;
        margin: 0 auto;
    }

    .block {
        width: 165px !important;
        height: 198px !important;
        margin-top: 13px !important;
    }

    .display {
        display: block !important;
    }

    .last-item {
        margin-left: 89px !important;
        position:absolute;
    }

    .middle__down__info {
        margin-top: 106px !important;
        height: 1131px !important;
    }

    .middle__down__info__title {
        padding-top: 50px !important;
    }


    .client-mobile {
        margin: 0 auto;
    }

    .logo__type {
        position: absolute;
        background: url('../../public/logo_mobile.svg') !important;
        height: 100px !important;
        width: 40px !important;
        margin-top: -50px;
    }

    .text__title {
        margin: 0 auto !important;
        width: 343px !important;
        padding-left: 12px;
        font-size: 30px !important;
    }

    .client {
        margin-top: 40px !important;
    }

    .one {
        width: auto !important;
    }



    .text__text {
        width: 343px !important;
        text-align: center !important;
        margin: 0 auto !important;
        margin-top: 16px !important;
    }

    .comment__header {
        margin: 0 auto !important;
        width: 343px !important;
        text-align: center !important;
        margin-top: 32px !important;
        display: block !important;
    }

    .comment__name {
        margin-top: 8px !important;
        width: 343px !important;
        text-align: center !important;
    }

    .comment__info {
        margin-left: 0px !important;
    }

    .comment__rating {
        margin: 0 auto !important;
        margin-top: 10px !important;
        width: 343px !important;
        text-align: center !important;
    }

    .comment__comment {
        margin: 0 auto !important;
        margin-top: 10px !important;
        width: 343px !important;
        text-align: center !important;
    }

    .inside {
        width: 165px !important;
        height: 165px !important;
    }

    .inside-1 {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
    
    .inside-2 {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
    
    .inside-3 {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    
    .inside-4 {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    
    .inside-5 {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    
    .inside-6 {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    
    .inside-7 {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    
    .inside-8 {
        margin-left: 0 !important;
    }
    
    .inside-9 {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    
    .inside-10 {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    
    .inside-11 {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }
    
    .inside-12 {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    .container-right {
        margin: 0 16px;
        left: 0 !important;
        margin-top: 40px !important;
        padding-right: 0 !important;
    }

    .icon {
        margin-left: 0 !important;
    }

    .i-2 {
        margin-left: 178px !important;
        margin-top: 890px !important;
    }
    .i-3 {
        margin-top: 178px !important;
    }
    .i-4 {
        margin-left: 178px !important;
        margin-top: 178px !important;
    }
    .i-5 {
        margin-top: 356px !important;
    }
    .i-6 {
        margin-left: 178px !important;
        margin-top: 356px !important;
    }
    .i-7 {
        margin-top: 534px !important;

    }
    .i-8 {
        margin-top: 534px !important;
        margin-left: 178px !important;
        height: 165px !important;
        width: 165px !important;
    }
    .i-9 {
        margin-top: 712px !important;
        height: 165px !important;
        width: 165px !important;
    }
    .i-10 {
        margin-top: 712px !important;
        margin-left: 178px !important;
        height: 165px !important;
        width: 165px !important;
    }
    .i-11 {
        margin-top: 890px !important;
        height: 165px !important;
        width: 165px !important;
    }
    .i-12 {
        margin-top: 0px !important;
        height: 165px !important;
        width: 165px !important;
        margin-left: 178px !important;
    }

    .cl_add {
        padding-top: 0 !important;
        padding-left: 0 !important;
        font-size: 16px !important;
        margin: 0 15px !important;
        margin-top: 18px !important;
    }

    .cl_add2 {
        margin: 0 auto !important;
        margin-top: 52px !important;
    }

    .projects {
        margin-top: 1100px !important;
    }

    .projects__title {
        margin: 0 auto !important;
        width: 343px !important;
        font-size: 30px !important;
        line-height: 130% !important;
        padding-top: 40px !important;
    }

    .projects__text {
        width: 343px !important;
        font-size: 16px !important;
        line-height: 24px !important;
    }

    .client-inside {
        display: block !important;
    }

    .client-projects-inside {
        width: 343px !important;
        margin: 0 auto !important;
    }

    .btn__body {
        width: 342px !important;
        margin: 0 auto !important;
    }

    .header__third_info {
        width: 343px !important;
        margin: 0 auto !important;
    }

    .header__second_info {
        text-align: center;
        width: 343px !important;
        margin: 0 auto;
    }

    .header__info {
        text-align: center;
        width: 343px !important;
        margin: 0 auto !important;
    }

    .projects__ {
        display: block !important;
    }

    .d-block-mob {
        display: block !important;
    }

    .projects__project {
        height: 162px !important;
        width: 343px !important;
        margin: 0 auto !important;
        margin-top: 13px !important;
    }


    #portfolio-1-left {
        content: url('../../public/bike-1-mob.svg');
    }
    #portfolio-1-right {
        content: url('../../public/bike-2-mob.svg');
    }
    #portfolio-2-left {
        content: url('../../public/accebody-1-mob.svg');
    }
    #portfolio-2-right {
        content: url('../../public/accebody-2-mob.svg');
    }
    #portfolio-3-left {
        content: url('../../public/dial-moving-1-mob.svg');
    }
    #portfolio-3-right {
        content: url('../../public/dial-moving-2-mob.svg');
    }
    #portfolio-4-left {
        content: url('../../public/buggito-1-mob.svg');
    }
    #portfolio-4-right {
        content: url('../../public/buggito-2-mob.svg');
    }
    #portfolio-5-left {
        content: url('../../public/beoon-1-mob.svg');
    }
    #portfolio-5-right {
        content: url('../../public/beoon-2-mob.svg');
    }
    .add__project {
        padding-left: 87px !important;
        padding-top: 52px !important;
        font-size: 16px !important;
    }
    .add__project__start {
        background: url('../../public/star-mob.svg') !important;
        margin-left: 129px !important;
        height: 34px !important;
        margin-top: 14px !important;
        width: 15px !important;
        padding-left: 23px !important;
    }

    .blog__title {
        line-height: 130% !important;
        text-align: center;
        width: 343px !important;
        margin: 0 auto !important;
        font-size: 30px !important;
    }

    .blog__text {
        width: 311px !important;
        margin: 0 auto !important;
        text-align: center;
        font-size: 16px !important;
    }

    .blog__block {
        width: 343px !important;
        height: 470px !important;
        margin: 0 auto !important;
        margin-bottom: 25px !important;
    }

    .first__blog {

       text-align: center;
       padding-top: 24px !important;
       padding-left: 0 !important;
    padding-bottom: 0 !important;
    }

    .first__text {
        padding-top: 8px !important;
        font-size: 16px !important;
        width: 311px !important;
        margin: 0 16px 0 16px !important;
    }

    #second-blog-img {
        content: url('../../public/blog-mob.svg');
    }

    .second__blog {
        padding-top: 16px !important;
        padding-left: 0 !important;
        width: 226px !important;
        margin: 0 auto !important
    }

    .first__url {
        width: 122px !important;
        margin-left: 110px !important;
        position: absolute;
        margin-top: 187px !important;
    }
    .blog_ {
        height: 48px !important;
        font-size: 16px !important;
        width: 343px !important;
        margin: 0 auto !important;
        padding-top: 0 !important;
    }

    .view_all_blog {
        width: 343px !important;
    position: absolute;
    }
    .decor-portfolio {
        padding-left: 0 !important;
    }
    #anketa{
        padding-top: 40px !important;
        width: 343px !important;
        font-size: 30px !important;
        line-height: 130% !important;
        padding-bottom: 16px !important;
    }

    .text-anketa {
        width: 343px !important;
        margin: 0 auto !important;
    }

    .block_anketa {
        position: absolute;
        width: 165px !important;
        height: 198px !important;
    }
    
    .title {
        font-size: 16px !important;
    }
    .icon-ank {
        padding-top: 64px !important;
    }

    .temp {
        height: 600px !important;
        width: 343px;
        margin: 0 auto;
    }

    .box-2 {
        margin-left: 178px !important;
    }

    .box-3 {
        margin-top: 211px !important;
    }

    .box-4 {
        margin-top: 211px;
        margin-left: 178px !important;
    }

    .box-5 {
        margin-top: 419px !important;
        margin-left: 89px !important;
    }

    .bar {
        width: 165px !important;
    }
    .w-55 {
        width: 43px !important;
    }

    .for-center {
        width: 165px !important;
        margin: 0 auto;
    }

    .n-c {
        margin-left: auto !important;

    }

    .color-step {
        width: 88px !important;
        margin: 0 auto !important;
    }

    .back-button-click {
        padding-right: 0 !important;
        margin-left: -50px !important;
        margin-top: 58px;
        }

        .mob-v {
            width: 343px !important;
            display: block !important;
        }

        .wdd {
            height: 48px !important;
            margin-bottom: 12px !important;
        }

        .input-big-share {
            width: 323px !important;

        }

        .submit {
            font-size: 16px !important;
            width: 261px !important;
            height: 48px !important;
        }

        .ar-left {
            margin-right: 5px !important;
        }
        .first-arrow  {
        visibility: hidden;
        }

        .view {
            width: 343px !important;
            margin: 0 auto 13px auto !important;
            font-size: 16px !important;
            height: 48px !important;
        }

        .footer-2 {
            display: block !important;
            justify-content: none !important;
        }
}
