
/* menu */
.nav__button:hover {
  cursor: pointer;
  background-color: #0360B2;
  border: 1px solid #0360B2;
  box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.25);
}

/* hero */

.btn__started:hover {
  cursor: pointer;
  background-color: #0360B2;
  border: 1px solid #0360B2;
  box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.25);
}

/* service */
.middle_block:hover {
  background: #F8FBFF;
  box-shadow: 0px 0px 20px rgba(3, 96, 178, 0.25);
}

.double__middle_block:hover {
  background: #F8FBFF;
  box-shadow: 0px 0px 20px rgba(3, 96, 178, 0.25);
}

.double__middle_block__2:hover{
  background: #F8FBFF;
  box-shadow: 0px 0px 20px rgba(3, 96, 178, 0.25);
}

.e-h {
  font-size: 16px;
}

.e-h:hover{
  cursor: pointer;
  border: 1px solid rgba(3, 96, 178, 0.25) !important;
  background: linear-gradient(0deg, #0360B2, #0360B2), #101A24 !important;
  box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.25) !important;
  color: white;
}

.comment__button__next:hover {
  cursor: pointer;
  background: #0360B2;
}

.projects__project:hover {
  cursor: pointer;
  background: #F8FBFF;
box-shadow: 0px 0px 25px rgba(3, 96, 178, 0.12);
}

.back-non:hover{
  cursor: pointer;
  background: #0360B2;
  color: white !important;
  box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.47);
}

.back-non:hover span {
  cursor: pointer;
  color: white !important;
}

.back-non:hover .add__project__start{
  background: url('../../public/star_hover.svg');
}

.back-non:hover text{
  cursor: pointer;
  height: 100px;
  width: 100px;
  background: url('../../public/star-add-project-white.svg') no-repeat;
}

.blog_:hover {
  cursor: pointer;
  background-color: #0360B2;
  box-shadow: 0px 10px 25px rgba(3, 96, 178, 0.47);
}

.block:hover {
  background: url('../../public/figma_hover.svg') no-repeat;
  cursor: pointer;
  background: #061019;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.32);
}

.img {
  margin-top: 20px;
  height: 100px;
  width: 100px;
}

.figma {
  transition: 0.15s ease-out 100ms;
}

.block:hover .figma {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.photoshop {
  transition: 0.15s ease-out 100ms;
}

.block:hover .photoshop {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.illustrator {
  transition: 0.15s ease-out 100ms;
}

.block:hover .illustrator {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.after_effect {
  transition: 0.15s ease-out 100ms;
}

.block:hover .after_effect {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.indesign {
  transition: 0.15s ease-out 100ms;
}

.block:hover .indesign {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.java {
  transition: 0.15s ease-out 100ms;
}

.block:hover .java {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.kotlin {
  transition: 0.15s ease-out 100ms;
}

.block:hover .kotlin {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.react_native {
  transition: 0.15s ease-out 100ms;
}

.block:hover .react_native {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.angular {
  transition: 0.15s ease-out 100ms;
}

.block:hover .angular {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.flutter {
  transition: all 0.2s ease-in-out;
}

.block:hover .flutter {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.js {
  transition: 0.15s ease-out 100ms;
}

.block:hover .js {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.css {
  transition: 0.15s ease-out 100ms;
}

.block:hover .css {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.react {
  transition: 0.15s ease-out 100ms;
}

.block:hover .react {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.wp {
  transition: 0.15s ease-out 100ms;
}

.block:hover .wp {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}

.html {
  transition: 0.15s ease-out 100ms;
}

.block:hover .html {
  transition: 0.15s ease-out 100ms;
  transform: scale(1.2) translate(0, -10%);
}


