.block {
    width: 202px;
    height: 243px;
    background: #061019;
    text-align: center;
    margin-right: 16px;
}

.color-white {
    color: white !important;
    bottom: 57px;
  left: 50%;
  transform: translate(-50%, -50%);
    position: absolute;
}


.hie {
    height: 100%;
    margin: 0 auto;
    position: relative;
}