.middle__down__info {
    margin-top: 200px;
    height: 1057px;
    background-image: url("/public/black_rect.png");
}

.logotype {
    margin-top: -95px;
}

.middle__down__info__title {
    color: white;
    padding-top: 72px;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 56px;
    font-weight: 700;
}

.middle_down__info__text {
    width: 1076px;
    padding-top: 24px;
    font-weight: 400;
    font-size: 16px;
    font-family: Montserrat;
    color: #C8C8C8;
;
}


.middle__down__info__buttons {
    padding-top: 100px;
}

.list__technologies {
    padding-top: 60px;
}

#image {
    padding-top: 66px;
}

.middle__down__info__buttons button {
    margin-right: 16px;
    background: transparent;
    border: 1px solid rgba(75, 75, 75, 0.3);
    color: white;
    font-weight: 400;
    width: 202px;
    height: 48px;
    text-align: center;
}

.middle__down__info__button {
    background: #1A9D63 !important;
    border: 1px solid #1A9D63 !important;
}



