@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('http://fonts.cdnfonts.com/css/montserrat');

.middle__down__info {
    margin-top: 200px;
    height: 1057px;
    background-image: url("/public/black_rect.png");
}

.logotype {
    margin-top: -95px;
}

.middle__down__info__title {
    color: white;
    padding-top: 90px;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 56px;
    font-weight: 700;
}

.middle_down__info__text {
    padding-top: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: Montserrat;
    color: #C8C8C8;
;
}


.middle__down__info__buttons {
    padding-top: 100px;
}

.list__technologies {
    padding-top: 60px;
}

#image {
    padding-top: 66px;
}

.middle__down__info__buttons button {
    margin-right: 16px;
    background: transparent;
    border: 1px solid #858A90;
    color: white;
    font-family: Montserrat;
    font-weight: 400;
    width: 202px;
    height: 48px;
    text-align: center;
}

.middle__down__info__button {
    background: #1A9D63 !important;
    border: 1px solid #1A9D63 !important;
}

